/* NOTE CONTAINER STYLES */

main{
    display: flex;
    justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;

	background: #649173;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
}

main p{
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
	font-weight: 800;
	font-size: 20px;
}


#new-note-add {
	-moz-box-shadow: -13px 12px 39px -4px #276873;
	-webkit-box-shadow: -13px 12px 39px -4px #276873;
	box-shadow: -13px 12px 39px -4px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #59b383), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #59b383 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #59b383 5%, #408c99 100%);
	background:-o-linear-gradient(top, #59b383 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #59b383 5%, #408c99 100%);
	background:linear-gradient(to bottom, #59b383 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#59b383', endColorstr='#408c99',GradientType=0);
	background-color:#59b383;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:4px solid #29668f;
	display:flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	padding:18px 29px;
	text-decoration:none;


	margin: 20px;
}

#new-note-add:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #59b383));
	background:-moz-linear-gradient(top, #408c99 5%, #59b383 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #59b383 100%);
	background:-o-linear-gradient(top, #408c99 5%, #59b383 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #59b383 100%);
	background:linear-gradient(to bottom, #408c99 5%, #59b383 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#59b383',GradientType=0);
	background-color:#408c99;
}


#new-note{
   width: 50%; 
   margin: 20px;
   padding: 20px;
   
}

#new-note-content{
	width: 400px;
}

#new-note-name{
	width: 400px;
}

#notes{
    /* background: #f953c6; 
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
    background: linear-gradient(to right, #b91d73, #f953c6); */

	display: flex;
    flex-wrap: wrap;
}

/* NOTE STYLES */

.note-title{
font-family: Courier New, Courier, monospace;
font-weight: bold;
margin: 5px;
}

.note-content{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: italic;
}

.note-date{
font-family: cursive;
}

.note{

background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



padding: 20px;
margin: 10px;
opacity: 0.8;
max-width: 30%;
overflow: auto;
flex-wrap: wrap;
word-break: break-all;
}

.imgDelete{
    width: 20px;
	cursor: pointer;
}

.note-error{
    margin: 10px;
    padding: 5px;
    color: red;
	font-weight: bolder;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hidden{
    display: none;
}